<div class="row column">
  <p class="lead">Imagine the place, food and fun!</p>
</div>

<div class="row small-up-1 medium-up-2 large-up-3">
  <div class="column">
    <div class="callout">
      <p>Walt Disney World Hotels</p>
      <p><%= image_tag "DisneysArtofAnimationResort-RidetheColorWave.jpg", :title => "image of a Walt Disney World Hotel" %></p>
      <p class="lead">Where can we stay?</p>
      <p class="subheader">With photos, tips, and a map, you are sure to find hotel to fit your needs.</p>
    </div>
  </div>
  <div class="column">
    <div class="callout">
      <p>Walt Disney World Dining</p>
      <p><%= image_tag "2160747261_741feae5d6_z.jpg", :title => "Walt Disney World Dining" %></p>
      <p class="lead">What's to eat?</p>
      <p class="subheader">All of the food is good, but some of it is awesome!  Let's find what you like.</p>
    </div>
  </div>

  <div class="column">
    <div class="callout">
      <p>Disney Parks, Shows, &amp; Fun</p>
      <p><%= image_tag "4601302443_904025c08d_z.jpg", :title => "Disney Parks" %></p>
      <p class="lead">Where's the fun?</p>
      <p class="subheader">They're the best in the world.  We will help you scout them out.</p>
    </div>
  </div>

</div>

