<div class="hero">
  <div class="hero-content glass">
      <h1 id="wdw_hub">WDW Hub</h1>
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png" alt="Logo Image" class="hero-logo">
    <p>We connect with fans of Walt Disney World across the the web to help you plan and enjoy one of the happiest places on earth.</p>
    
  </div>
</div>

