<h1 id="home_page">About WDW Hub</h1>

<p>WDW Hub is a collection of websites for the those whom want to connect to the best information on the 'Net about Walt Disney World and the WDW Lifestyle.  It's also the the brainchild of the team at Second Star Labs.  </p>