<h1>Disclosure</h1>

<p>This web site is, in part, sponsored or supported by advertisers and sponsors. Any compensation received does not influence the advertising content, topics or posts made on this site, in the podcast, blog and/or videos. That content, advertising space or post may not always be identified as paid or sponsored content.</p>
<p>Even though the owner of this site may receive compensation for advertisements, we always give our honest opinions, findings, beliefs, or experiences on those topics or products. The views and opinions expressed on this site are purely the writer&#8217;s own. Theme park admission, accommodations, dining, experiences and/or special events are generally paid for by the authors/owner of this site at full price unless otherwise indicated. All opinions are entirely those of the authors.</p>
<p>This site may have a marketing connection to a brand, topic or product herein.  Through the use of affiliate links contained herein, the site owner may collect fees  from purchases made.</p>
	