<div class="row">

  <div class="medium-7 large-6 columns">
    <h1>WDW Hub</h1>
    <p class="subheader">We connect with fans of Walt Disney World across the the web to help you plan and enjoy one of the happiest places on earth.</p>
    <!-- <button class="button">Take a Tour</button> -->
    <!-- <button class="button">Start a free trial</button> -->
  </div>

  <div class="show-for-large large-3 columns">
    <%= image_tag "32462536921_6cd170a0a6_m.jpg", alt: "cinderella's castle", size:"400x370"%>
    <!-- credit: Chad Sparkes on Flickr, original photo page: https://www.flickr.com/photos/chad_sparkes/32462536921/in/photolist-RsAZfr-Wj4cEC-4FfUVM-XX5W2z-X3Xdgy-6i2Wsy-dRt9ky-j4gE6a-RTsxT5-fnN9mF-X3Xcyb-X4KFdF-VMw48U-b7SoHg-9jtPLb-4Fm3gh-j4y2Qc-VMw4Yb-Ws62MJ-fnNpND-7KRsEZ-4FgMFD-dRnqGH-nqDnjK-X4KEWD-4GKgmm-4Fm2q5-nqD2iV-nqDdyb-fnNe58-7KRsNT-nqD5Wg-5KiyLK-4FgN6Z-7KVrcj-b7h5KB-j4hmCJ-qDJaH9-7KRsLa-gTgGG-j4hmX1-kChZkM-ppkhDZ-6fzAQ-fdP4Gv-4Zz2pz-yxGynS-ofhBPB-nH6Yj3-vCNQR2 -->
  </div>

  <div class="medium-5 large-3 columns">
  	    <%= image_tag "2333878420_2e278d4f26_m.jpg", alt: "cinderella's castle", size:"400x370"%>
		<!-- credit:  Basharat Alam Shah on Flickr, https://www.flickr.com/photos/shahbasharat/2333878420/in/photolist-4yeJK7-6NZrjL-64wCD5-6NZqXw-6NZqKY-6XcUfv-q1t7xJ-4PkoKw-4Pgb6D-4Pg6La-4P5Hwf-4P1qHe-4P5LX1-4P5MBb-SgbVNW-64sjER-64wDmf-TmiviP-s5khjQ-4KcqF6-4EKGYs-4XP1Tz-s7yYgR-s7yYye-s7yYFi-4jf68P-SiQ4jF-4P1Lnz-64sqVF-SXJ7H5-64snfx-64wNF5-64svq2-64so78-64wMoY-64stFz-rPYgG6-rN6wpi-s58yZh-rPYf9M-64stc8-64subi-64sk8p-64wNWU-64skSP-4XP3FH-4P5KCh-4P1LSP-4P5NJy-4KgEV5 -->
<!--      <div class="callout secondary">
      <form action="https://www.google.com/search" method="get">
      	<%# https://www.google.com/search?q=site%3Awdwhub.net+food&ie=utf-8&oe=utf-8 %>
        <div class="row">
          <div class="small-12 columns">
            <label>Find Disneyworld Favorites
              <input name="q" id="q" type="text" placeholder="Search for food and fun">
              <input type="hidden" name="ie" value="utf-8">
              <input type="hidden" name="oe" value="utf-8">
            </label>
          </div>
          <div class="small-12 columns">
            <button type="submit" class="button">Search Now!</button>
          </div>
        </div>
      </form>
    </div>
 -->  </div>

</div>


<%#= render 'pages/hero' %>

<%= render  'pages/cards' %>
