<!-- Navigation -->
<div class="title-bar" data-responsive-toggle="realEstateMenu" data-hide-for="small">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="realEstateMenu">
  <div class="top-bar-left">
    <ul class="menu" data-responsive-menu="accordion">
      <li class="menu-text">Walt Disney World</li>
      <li><a href="http://hotels.wdwhub.net">Hotels</a></li>
      <li><a href="http://dining.wdwhub.net">Food</a></li>
      <li><a href="http://fun.wdwhub.net">Fun</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
<!--       <li><a href="#">My Account</a></li>
      <li><a class="button">Login</a></li>
 -->    </ul>
  </div>
</div>
<!-- /Navigation -->
